# Source me
export wallpaper="{{.wallpaper.String}}"
export background="{{.foreground.Hex}}"
export foreground="{{.background.Hex}}"
export colors=(
    "{{.color0.RGB}}"
    "{{.color1.Hex}}"
    "{{.color2.Hex}}"
    "{{.color3.Hex}}"
    "{{.color4.Hex}}"
    "{{.color5.Hex}}"
    "{{.color6.Hex}}"
    "{{.color7.Hex}}"
    "{{.color8.Hex}}"
    "{{.color9.Hex}}"
    "{{.color10.Hex}}"
    "{{.color11.Hex}}"
    "{{.color12.Hex}}"
    "{{.color13.Hex}}"
    "{{.color14.Hex}}"
    "{{.color15.Hex}}"
)
